<div style="text-align:center">
	<h1>HMMC Registration</h1>

	<h4>Head Coach</h4>
		
	<%= form_tag("/schools", method: "post") do %>
	<%= label_tag(:name, "Name") %>
	<%= text_field(:user, :name) %>
	<%= label_tag(:email, "Email") %>
	<%= text_field(:user, :email) %>
	<%= label_tag(:password, "Password") %>
	<%= text_field(:user, :password) %>
	<% label_tag(:School_Information)%>
	<%end %>

<%if @error%>
  <p><%=@error%></p>
<%end%>

<%= form_tag("/schools", method: "post") do %>
<%= label_tag(:name, "Name:") %>
<%= text_field(:user, :name) %>
<%= label_tag(:email, "Email:") %>
<%= text_field(:user, :email) %>
<%= label_tag(:password, "Password:") %>
<%= text_field(:user, :password) %>
<% label_tag(:School_Information)%><br>
<%= submit_tag("ENTER") %>

	<%end%>
</div>














