<!-- <div id="map" class="map">

</div>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<script type="text/javascript">

	var map = L.map('map', {
    center: [30.25, -97.75], //Austin!
    zoom: 13
	});

	L.tileLayer(
    'http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg'
	).addTo(map);

  <% @schools.each do |school| %>
    L.marker([<%=school.lat%>, <%=school.long%>])
    .bindPopup("<%=school.name%>")
    .addTo(map)
  <% end %>
</script>

 -->


<style>
  body {
    background: url(/assets/landingpage_bg.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar-default {
    background-color: rgba(255,255,255,1);
    border: none;
  }

  .main {
    background-color: rgba(255,255,255,.6);
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .main h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .signup {
    text-transform: uppercase;
    padding: 10px 15px 6px 15px;
    border: none;
    background-color: #94c1e5;
    color: white;
    border-radius: 3px;
    letter-spacing: 3px;
    margin-top: 15px;
    transition: background-color 0.5s ease;
  }

  .signup:hover {
    background-color: #D2E495;
  }

  footer {
    display: none;
  }

  .map-container {
    text-align: center;
    background-color: rgba(255,255,255,.6);
    margin-bottom: 30px;
    padding: 55px 0 50px 60px;
  }

  #map {
    width: 95%;
    height: 370px;
  }

  .boxes {
    display: none;
  }

</style>

<div class="row">
  <div class="col-md-12 main">
    <h1>Hundred Million Miles Challenge</h1>
    Is your school up for the challenge?
    <br>
    Commit to be fit.
    <p></p>
    <a href="/signupzip"><button class="signup">Sign Up</button></a>

  </div>
</div>

<div class="row">
  <div class="col-md-12 map-container">
    <div id="map" class="map"></div>
  </div>
</div>


<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<script type="text/javascript">

  var map = L.map('map', {
    center: [30.25, -97.75], //Austin!
    zoom: 13
  });

  L.tileLayer(
    'http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg'
  ).addTo(map);

  <% @schools.each do |school| %>
    L.marker([<%=school.lat%>, <%=school.long%>])
    .bindPopup("<%=school.name%>")
    .addTo(map)
  <% end %>
</script>

