   <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Hundred Million Mile Club" %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "About" %></li>
          <li class="divider"></li>
          <li><%= link_to "FAQ" %></li>
          <li class="divider"></li>
          <li><%= link_to "Contact Us" %></li>
          <li class="divider"></li>
          <li><%= link_to "Sign In" %></li>
        </ul>
      </section>
    </nav>


    <div class='row'>
      <div class="large-3 columns">
        <ul class="custom-sidenav-class">
          <li class="divider"></li>
          <li><%= link_to "Account" %></li>
          <li class="divider"></li>
          <li><%= link_to "Add Miles" %></li>
          <li class="divider"></li>
          <li><%= link_to "Leaderboards" %></li>
          <li class="divider"></li>
          <li><%= link_to "Hugs" %></li>
        </ul>

      </div>

      <div class="large-8 columns"> <%= yield %>
           <h3>Enter School Info</h3>
          <%= form_tag("/schools", method: "post") do %>
          <%= label_tag(:school_name, "Name:") %>
          <%= text_field(:school, :name) %>
          <%= label_tag(:state, "State:") %>
          <%= text_field(:school, :state) %>
          <%= label_tag(:City, "City:") %>
          <%= text_field(:school, :city) %>
          <%= label_tag(:street, "Street:") %>
          <%= text_field(:school, :street) %>
          <%= submit_tag("ENTER") %>
          <% end %>
       </div>
    </div>







