jkghlghjkllghjklhjgk
<body style="text-align: center">

  <style>
  h {color:red;}
  p {color:blue;}
  input[type="submit"] {border-radius: 100%}
  </style>

  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <div id="school-info">
    <h2><%=@school.name%></h2>
    <h2>Total Miles: <%= @school.total_miles_school.to_i %></h2>
    <h4>State:<%=@school.state %></h4>
    <h4>City:<%=@school.city %></h4>
    <h4>Street: <%= @school.street %></h4>
    <h4>Number of students in Club</h4>
    <h4><%=@school.students%></h4>
  </div>

  <ul style="list-style-type: none">
    <% @school.activitys.each do |activity| %>
    <li>
    <%="Miles ran: #{activity.miles} " %>

    <%="Students: #{activity.students} "%>
    <%="Date: #{activity.date}"%>
    </li>
    <%end%>
  </ul>

  <ul style="list-style-type: none">
    <% @school.classrooms.each do |room| %>
    <li>
      <%= room.name %>
      <%= room.miles %>
    </li>
    <%end%>
  </ul>

<% if @users_school %>
<% if @school.id == @users_school.id %>

  <p>Edit total number of students in program</p>
  <%=form_tag("/schools/#{params[:id]}", method:"put") do %>
    <%=label_tag(:school, "Students:")%>
    <%=text_field(:school, :students)%>
    <%= hidden_field_tag('school_id', params[:id])%>
    <%=submit_tag("ENTER")%>
  <%end%>


  <p>Record Activites </p>
  <%= form_tag("/activities", method: "post") do %>
  <%= label_tag(:activity, "Miles:") %>
  <%= text_field(:activity, :miles) %>
  <%= hidden_field_tag('school_id', params[:id])%>
  <%= label_tag(:students, "Number of students during activity:") %>
  <%= text_field(:activity, :students)%>
  <%= hidden_field_tag("date", Time.now )%>
  <%= submit_tag("ENTER") %>
  <% end %>



<%end%>
<%end%>





</body>
