
<body style="text-align: center">

  <style>

  text {
  font-family: "RamaGothicM-Heavy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 16rem;
  fill: #1072b8;
}

#donut {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

path.color0 {
  fill: #1072b8;
}

path.color1 {
  fill: #35526b;
}

#donut {
  margin-bottom:10px;

}

  </style>



  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <div class="black hide"></div>
  <div id="school-info">
    <h2><%=@school.name%></h2>
    <h2>Total Miles: <span class="milesmeter"></span></h2>
    <button class="school-info">School Information</button>
    <div class="popup">
      <h3>School Information:<h3>
      <p>State:<%=@school.state %></p>
      <p>City:<%=@school.city %></p>
      <p>Street: <%= @school.street %></p>
      <p>Number of students in Club</p>
      <p><%=@school.students%></p>
    </div>

  </div>
<!--
  <div class="historylist">
    <h3>History of Activity:</h3>
    <ul style="list-style-type: none">
      <% @school.activitys.each do |activity| %>
      <li>
      <%="Miles ran: #{activity.miles} " %>

      <%="Students: #{activity.students} "%>
      <%="Date: #{activity.date[0..9]}"%>
      </li>
      <%end%>
    </ul>
  </div> -->

<table class="historylist">
  <thead>
    <tr>
      <th>Miles</th>
      <th>Students</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>

    <%@school.activitys.each do |activity| %>
      <tr>
        <td><%=activity.miles%></td>
          <td><%= activity.students%></td>
        <td><%=activity.date[0..9]%></td>
      </tr>
    <%end%>

    <% @school.activitys.each do |activity| %>
        <tr>
        </tr>
    <%end%>

    <% @school.activitys.each do |activity| %>
      <tr>
      </tr>
    <%end%>

  </tbody>
</table>

  <ul style="list-style-type: none">
    <% @school.classrooms.each do |room| %>
    <li>
      <%= room.name %>
      <%= room.miles %>
    </li>
    <%end%>
  </ul>

<% if @users_school %>

  <% if @school.id == @users_school.id %>



  <%end%>

<%end%>

<div id="donut" data-donut="">
  "hello"
</div>

  <div class="row">
    <div class="studentsedit">
      <%=form_tag("/schools/#{params[:id]}", method:"put") do %>
        <%=label_tag(:school, "Students:")%>
        <%=text_field(:school, :students)%><br>
        <%= hidden_field_tag('school_id', params[:id])%>
        <%=submit_tag("ENTER")%>
      <%end%>
    </div>

    <div class="miles">
    <%= form_tag("/activities", method: "post", :class => "miles_form") do %>
    <%= label_tag(:activity, "Miles:") %>
    <%= text_field(:activity, :miles, placeholder: "Miles") %>
    <%= hidden_field_tag('school_id', params[:id])%>
    <%= label_tag(:students, "Number of students: ") %>
    <%= text_field(:activity, :students, placeholder: "Students")%><br>
    <%= hidden_field_tag("date", Time.now )%>
    <%= submit_tag("ADD") %>
    <% end %>
    </div>

  </div>

<div class="coach" style="clear:both">
  <div class="students">
    <p>Students</p>
  </div>
  <div class="add">
    <p>Add Miles</p>
  </div>
  <div class="history">
    <p>History</p>
  </div>
<div style="clear:right"></div>
</div>

<button></button>
</body>


<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

var schoolId = <%= "#{@school.id}" %>
  $(document).ready(function(){

    /////////////////////////////////////////
      var duration   = 2000,
transition = 100;


var goal = 10000; // school's preset goal!
var total = <%="#{@school.total_miles_school}"%>; // school's total miles
console.log(total)
  var num = total/goal * 100
  drawDonutChart(
  '#donut',
  num,
  160,
  160,
  ".35em"
  );



    ////////////////////////////////////////
    $(".coach").hide();
    $(".coach").show(1000)
    $("button").on("click",function(){

      $(".coach").slideToggle(1000);
    });

    $(".school-info").on("click",function(){

      $(".popup").fadeToggle( "slow", "linear" )
      $(".black").toggle();
    })

    $(".popup").on("click",function(){
      $(".popup").fadeToggle("slow","linear");
      $(".black").hide();
    })

    $(".history").on("click",function(){
      $(".historylist").fadeToggle("slow","linear");
      $(".black").toggle();
    })

    $(".historylist").on("click",function(){
      $(".historylist").fadeToggle("slow","linear");
      $(".black").hide();
    })

    console.log(schoolId)
    $("input[value='ADD']").on("click",function(e){
      e.preventDefault();
      ////////////////////////////////////////////
        var msglist = document.getElementById("donut");
        var x = +$("#activity_miles").val();

        console.log(x)
        msglist.setAttribute("data-donut","");
        total+= x
        console.log(total)

        var show = msglist.getAttribute("data-donut");
        console.log(num)
        // per = ((total+parseInt(x))/goal)*100

        msglist.setAttribute("data-donut", num ) ;

         $("#donut").empty();

         var num = total/goal * 100
         if (num >= 100) {
          $("#win").text("YOU GUYS DID IT!!!!!")
         }
        drawDonutChart(
        '#donut',
        num,
        160,
        160,
        ".35em"
        );





      ////////////////////////////////////////////
      var milesInput = $("#activity_miles").val();
      var studentInput = $("#activity_students").val();
      console.log(milesInput)
      $.ajax({
        type: 'POST',
        url: "/activities",
        dataType: "json",
        data:{school_id: schoolId, miles: milesInput, students: studentInput, date: $("#date").val()},
        success: function(data) {
          console.log(data.schoolmiles)
          // $(".milesmeter").html(data.schoolmiles).fadeIn(1000)
          $(".milesmeter").animate({opacity:0})
            .queue(function(){
             $(".milesmeter").text(data.schoolmiles)
                    .dequeue()
             })
            .animate({opacity:1});
        }
      });
    })

    $(".button").click(function(){
    $(this).find("span")
        .animate({opacity:0})
        .queue(function(){
             $(this).text("new text")
                    .dequeue()
        })
        .animate({opacity:1});
    });


    // menus
    // Hide submenus
     $(".miles").hide();
     $(".add").on("click",function(){
       $(".miles").slideToggle(1000);
     });

      $(".studentsedit").hide();
      $(".students").on("click",function(){
       $(".studentsedit").slideToggle(1000);
     });

     $(".students").on("mouseenter",function(){
        $(this).addClass("highlight")
     })
     $(".students").on("mouseleave",function(){
        $(this).removeClass("highlight")
     })

     $(".add").on("mouseenter",function(){
        $(this).addClass("highlight")
     })

     $(".add").on("mouseleave",function(){
        $(this).removeClass("highlight")
     })

     $(".history").on("mouseenter",function(){
        $(this).addClass("highlight")
     })

     $(".history").on("mouseleave",function(){
        $(this).removeClass("highlight")
     })

    // // Toggle nested <ul> (siblings of the link)
    // $(".nav > li > a").click(function(e) {
    //     $(this).siblings("ul").slideToggle();
    //     e.preventDefault();
    // });


    // $(".students").bind('mouseover mouseenter',function(){
    //     $(this).stop()
    //     .animate({height:'150px'},
    //     {queue:false, duration:600, easing: 'swing'})
    // });

    // //When mouse is removed
    // $(".students").bind('mouseout mouseleave',function(){
    //     $(this).stop().animate({height:'50px'},
    //     {queue:false, duration:600, easing: 'swing'})
    // });

  // $(".students").mouseenter(function(){
  //     $(this).animate({
  //       "top": '10px'
  //     });
  //   })

  // });

  // $(".projects a").mouseenter(function() {
  //   $(this).find('img').animate({
  //      top: '10px'
  //   });
  //  });
  // $(".projects a").mouseleave(function() {
  //   $(this).find('img').animate({
  //     top: '-10px'
  //   });
// var baloon = $('.students');
//    function runIt() {
//        baloon.animate({top:'+=20'}, 1000);
//        baloon.animate({top:'-=20'}, 1000, runIt);
//    }

//    runIt();
///////////////////////////////////////////////////////////
function drawDonutChart(element, percent, width, height, text_y) {
  width = typeof width !== 'undefined' ? width : 200;
  height = typeof height !== 'undefined' ? height : 200;
  text_y = typeof text_y !== 'undefined' ? text_y : "-.10em";

  var dataset = {
        lower: calcPercent(0),
        upper: calcPercent(percent)
      },
      radius = Math.min(width, height) / 2,
      pie = d3.layout.pie().sort(null),
      format = d3.format(".0%");

  var arc = d3.svg.arc()
        .innerRadius(radius - 20)
        .outerRadius(radius);

  var svg = d3.select(element).append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  var path = svg.selectAll("path")
        .data(pie(dataset.lower))
        .enter().append("path")
        .attr("class", function(d, i) { return "color" + i })
        .attr("d", arc)
        .each(function(d) { this._current = d; }); // store the initial values

  var text = svg.append("text")
        .attr("text-anchor", "middle")
        .attr("dy", text_y);

  if (typeof(percent) === "string") {
    text.text(percent);
    console.log(percent)

  }
  else {
    var progress = 0;
    var timeout = setTimeout(function () {
      clearTimeout(timeout);
      path = path.data(pie(dataset.upper)); // update the data
      path.transition().duration(duration).attrTween("d", function (a) {
        // Store the displayed angles in _current.
        // Then, interpolate from _current to the new angles.
        // During the transition, _current is updated in-place by d3.interpolate.
        var i  = d3.interpolate(this._current, a);
        var i2 = d3.interpolate(progress, percent)
        this._current = i(0);
        return function(t) {
          text.text( format(i2(t) / 100) );
          return arc(i(t));
        };
      }); // redraw the arcs
    }, 200);
  }
};

function calcPercent(percent) {
  return [percent, 100-percent];
};



});
///////////////////////////////////////////////////////////
</script>
<!-- $(document).ready(function() {
  $(".tour").on("mouseenter", function() {
    $(this).addClass("highlight");
    $(this).find(".per-night").animate({"top": "-14px","opacity": "1"}, "fast");
  });
  $(".tour").on("mouseleave", function() {
    $(this).removeClass("highlight");
    $(this).find(".per-night").animate({"top": "0px","opacity": "0"}, "fast");
  });
}); -->