<!-- <h1>hello</h1> -->
<body style="background-color: steelblue; text-align: center">

  <style>
  h {color:red;}
  p {color:blue;}
  input[type="submit"] {border-radius: 100%}
  </style>

  <div id="school-info">
    <h2><%=@school.name%></h2>
    <h2>Total Miles: <%=@school.total_miles_school%></h2>
    <h4><%="State: "@school.state%></h4>
    <h4><%="City: "@school.city%></h4>
    <h4><%="Street: "@school.street%></h4>
    <h4>Number of students</h4>
    <h4><%=@school.students%></h4>
  </div>

  <ul style="list-style-type: none">
    CLASS MILES
    <%@school.activitys.each do |activity| %>
    <li>
    <%="Miles ran: " + activity.miles%>

    <%="Students: " + activity.students%>
    <%="Date: " +activity.date%>
    </li>
    <%end%>
  </ul>

  <ul style="list-style-type: none">
    CLASS MILES
    <%@school.classrooms.each do |room| %>
    <li>
    <%=room.name%>
    <%=room.miles%>
    </li>
    <%end%>
  </ul>




    <%= form_tag("/classrooms", method: "post") do %>
    <%= label_tag(:class_name, "Name:") %>
    <%= text_field(:class, :name) %>
    <%= hidden_field_tag('school_id', params[:id])%>
    <%= label_tag(:class_name, "Miles:") %>
    <%= text_field(:class, :miles)%>
    <%= submit_tag("ENTER") %>
    <% end %>




</body>
