
<body style="text-align: center">

  <style>

  h {color:red;}
  p {color:blue;}
  input[type="submit"] {border-radius: 100%}

  html {
  width: 100%;
  height: 100%;
  }

body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #00734a;
  background-image: -moz-radial-gradient(center center, circle contain, #00ce30 70px, #00734a 300px);
  background-image: -webkit-radial-gradient(center center, circle contain, #00ce30 70px, #00734a 300px);
  background-image: radial-gradient(center center, circle contain, #00ce30 70px, #00734a 300px);
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 3em;
}

  .coach {
    color: purple;
    width:400px;
    padding: 5px;
    background: orange;
    display:inline-block;
    margin: 0 auto;
    border-radius: 20%;
  }

  label {
    color: black;
    font-family: Garamond;
    font-weight: bold;
    margin: 0 auto;
  }

  input[type="text"] {
    color: lightgreen;
    font-family: sans-serif;
    border-radius: 15%;
    background-color: white;
    margin: 0 auto;
    width: 100px;
    height: 12px;
  }

/*  input[type="submit"] {

  border-top:   2px solid #a3ceda;
  border-left:    2px solid #a3ceda;
  border-right:   2px solid #4f6267;
  border-bottom:    2px solid #4f6267;
  padding:    10px 20px !important;
  font-size:    14px !important;
  background-color: #c4f1fe;
  font-weight:    bold;
  color:      #2d525d;

  }*/

  input[type="submit"] {
  background:#016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;


  }


  input[type="submit"]:hover{
  background:#016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  }

  .miles {
    width:150px;


    margin: 0 auto;
    border-radius: 10%;
    background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
    background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

  }

/* make inline block */
  .coach div {
    display:inline-block;
    margin: 10px 5px;
    border-radius: 10%;
    padding: 5px;
  }

  .coach p {
    margin: 25px 0 0 0;
  }


  .students {
   width:80px;
   height:80px;
   background:lightblue;
   /*float:right;*/
 /*   margin: 0 auto;*/

  }

  .add{
    width:80px;
    height:80px;
    background: lightgreen;

    /*float:right;*/
    /*margin: 0 auto;*/
  }

  .history {
    width: 80px;
    height: 80px;
    background:lightgrey;

    /*float:right;*/
    /*margin: 0 auto;*/

  }


    .highlight {
    -webkit-box-shadow: 0px 0px 3px 5px #f2e1f2;
    -moz-box-shadow: 0px 0px 3px 5px #f2e1f2;
    box-shadow: 0px 0px 3px 5px #f2e1f2;
    }

  .hide {
    display:none;
  }
  .black {
    background:black;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left: 0;
    opacity: 0.85;
    z-index: 1000000000;
  }

  .popup {
  background-color: #E3E3E3;
  width: 300px;
  position:relative;
  color: #616167;
  border-radius: 5px;
  font-size: 12px;
  margin: -10px auto;
  z-index: 1000000001;
  padding-bottom: 5px;
 }

 .popup p {
  color: black;
  font-size:12px;
 }

 .popup {
  display:none;
 }

 .historylist {
  background-color: #E3E3E3;
  width: 300px;
  position:relative;
  color: #616167;
  border-radius: 5px;
  font-size: 12px;
  margin: -10px auto;
  z-index: 1000000001;
  padding-bottom: 5px;
 }

 .historylist {
  display:none;
 }



.studentsedit input[type="submit"] {
  margin-top: 5px;
  display:inline-block;
}

.row {

}
.studentsedit {
  display:inline-block;
}
  </style>



  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <div class="black hide"></div>
  <div id="school-info">
    <h2><%=@school.name%></h2>
    <h2>Total Miles: <span class="milesmeter"></span></h2>
    <button class="school-info">School Information</button>
    <div class="popup">
      <h3>School Information:<h3>
      <p>State:<%=@school.state %></p>
      <p>City:<%=@school.city %></p>
      <p>Street: <%= @school.street %></p>
      <p>Number of students in Club</p>
      <p><%=@school.students%></p>
    </div>

  </div>

  <div class="historylist">
    <h3>History of Activity:</h3>
    <ul style="list-style-type: none">
      <% @school.activitys.each do |activity| %>
      <li>
      <%="Miles ran: #{activity.miles} " %>

      <%="Students: #{activity.students} "%>
      <%="Date: #{activity.date}"%>
      </li>
      <%end%>
    </ul>
  </div>

  <ul style="list-style-type: none">
    <% @school.classrooms.each do |room| %>
    <li>
      <%= room.name %>
      <%= room.miles %>
    </li>
    <%end%>
  </ul>

<% if @users_school %>

  <% if @school.id == @users_school.id %>



  <%end%>

<%end%>

  <div class="row">
    <div class="studentsedit">
      <%=form_tag("/schools/#{params[:id]}", method:"put") do %>
        <%=label_tag(:school, "Students:")%>
        <%=text_field(:school, :students)%><br>
        <%= hidden_field_tag('school_id', params[:id])%>
        <%=submit_tag("ENTER")%>
      <%end%>
    </div>

    <div class="miles">
    <%= form_tag("/activities", method: "post", :class => "miles_form") do %>
    <%= label_tag(:activity, "Miles:") %>
    <%= text_field(:activity, :miles, placeholder: "Miles") %>
    <%= hidden_field_tag('school_id', params[:id])%>
    <%= label_tag(:students, "Number of students: ") %>
    <%= text_field(:activity, :students, placeholder: "Students")%><br>
    <%= hidden_field_tag("date", Time.now )%>
    <%= submit_tag("ADD") %>
    <% end %>
    </div>

  </div>

<div class="coach" style="clear:both">
  <div class="students">
    <p>Students</p>
  </div>
  <div class="add">
    <p>Add Miles</p>
  </div>
  <div class="history">
    <p>History</p>
  </div>
<div style="clear:right"></div>
</div>

<button></button>
</body>



<script>
var schoolId = <%= "#{@school.id}" %>
  $(document).ready(function(){
    $(".coach").hide();
    $(".coach").show(1000)
    $("button").on("click",function(){

      $(".coach").slideToggle(1000);
    });

    $(".school-info").on("click",function(){

      $(".popup").fadeToggle( "slow", "linear" )
      $(".black").toggle();
    })

    $(".popup").on("click",function(){
      $(".popup").fadeToggle("slow","linear");
      $(".black").hide();
    })

    $(".history").on("click",function(){
      $(".historylist").fadeToggle("slow","linear");
      $(".black").toggle();
    })

    $(".historylist").on("click",function(){
      $(".historylist").fadeToggle("slow","linear");
      $(".black").hide();
    })

    console.log(schoolId)
    $("input[value='ADD']").on("click",function(e){
      e.preventDefault();
      var milesInput = $("#activity_miles").val();
      var studentInput = $("#activity_students").val();
      console.log(milesInput)
      $.ajax({
        type: 'POST',
        url: "/activities",
        dataType: "json",
        data:{school_id: schoolId, miles: milesInput, students: studentInput, date: $("#date").val()},
        success: function(data) {
          console.log(data.schoolmiles)
          // $(".milesmeter").html(data.schoolmiles).fadeIn(1000)
          $(".milesmeter").animate({opacity:0})
            .queue(function(){
             $(".milesmeter").text(data.schoolmiles)
                    .dequeue()
             })
            .animate({opacity:1});



        }
      });
    })

    $(".button").click(function(){
    $(this).find("span")
        .animate({opacity:0})
        .queue(function(){
             $(this).text("new text")
                    .dequeue()
        })
        .animate({opacity:1});
    });

    // $("input[value='roll_dice']").on("click",function(e){
    // e.preventDefault();
    // $.ajax({
    //   type: "PUT",
    //   url: "/games/" + gameId,
    //   dataType: "json",
    //   data:{game_id: gameId, move: "roll_dice"},
    //   success: function(data) {
    //     window.data = data;
    //     console.log("The current player is " + data.game.turns[data.game.turns.length-1].player)
    //      $("#current_player").text("Hey " + data.game.turns[data.game.turns.length-1].player + " make a move!")
    //     console.log(data.roll_for_current)
    //     console.log("shot amount " +data.wound_for_current)
    //     $("#shot").text(data.game.turns[data.game.turns.length-1].player + " got shot " + data.wound_for_current + " time(s)")
    //     console.log("food amount " + data.score_for_current)
    //     $("#food").text(data.game.turns[data.game.turns.length-1].player + " got food, " + data.score_for_current + " rabbit liver(s) collected")
    //     $(".score_board #"+data.game.turns[data.game.turns.length-1].player+"").after().text(data.game_score)

    //   }

    // menus
    // Hide submenus
     $(".miles").hide();
     $(".add").on("click",function(){
       $(".miles").slideToggle(1000);
     });

      $(".studentsedit").hide();
      $(".students").on("click",function(){
       $(".studentsedit").slideToggle(1000);
     });

     $(".students").on("mouseenter",function(){
        $(this).addClass("highlight")
     })
     $(".students").on("mouseleave",function(){
        $(this).removeClass("highlight")
     })

     $(".add").on("mouseenter",function(){
        $(this).addClass("highlight")
     })

     $(".add").on("mouseleave",function(){
        $(this).removeClass("highlight")
     })

     $(".history").on("mouseenter",function(){
        $(this).addClass("highlight")
     })

     $(".history").on("mouseleave",function(){
        $(this).removeClass("highlight")
     })

    // // Toggle nested <ul> (siblings of the link)
    // $(".nav > li > a").click(function(e) {
    //     $(this).siblings("ul").slideToggle();
    //     e.preventDefault();
    // });


    // $(".students").bind('mouseover mouseenter',function(){
    //     $(this).stop()
    //     .animate({height:'150px'},
    //     {queue:false, duration:600, easing: 'swing'})
    // });

    // //When mouse is removed
    // $(".students").bind('mouseout mouseleave',function(){
    //     $(this).stop().animate({height:'50px'},
    //     {queue:false, duration:600, easing: 'swing'})
    // });

  // $(".students").mouseenter(function(){
  //     $(this).animate({
  //       "top": '10px'
  //     });
  //   })

  // });

  // $(".projects a").mouseenter(function() {
  //   $(this).find('img').animate({
  //      top: '10px'
  //   });
  //  });
  // $(".projects a").mouseleave(function() {
  //   $(this).find('img').animate({
  //     top: '-10px'
  //   });
// var baloon = $('.students');
//    function runIt() {
//        baloon.animate({top:'+=20'}, 1000);
//        baloon.animate({top:'-=20'}, 1000, runIt);
//    }

//    runIt();
});
</script>
<!-- $(document).ready(function() {
  $(".tour").on("mouseenter", function() {
    $(this).addClass("highlight");
    $(this).find(".per-night").animate({"top": "-14px","opacity": "1"}, "fast");
  });
  $(".tour").on("mouseleave", function() {
    $(this).removeClass("highlight");
    $(this).find(".per-night").animate({"top": "0px","opacity": "0"}, "fast");
  });
}); -->

